
.white {
  color: white;
}

.purple {
  color: #657FA7
}

.black {
  color: #333333;
}

.gray {
  color: #808080
}

.light_gray {
  color: #C0C0C0
}

.blue {
  color: #0084FF
}

.color_3679FF {
  color: #3679FF
}

.color_422E07 {
  color: #422E07
}

.color_FF6932 {
  color: #FF6932
}

.c_FFAB19 {
  color: #FFAB19
}

.color_F37C46 {
  color: #F37C46 !important;
}
.c_999999 {
  color: #999999
}

.color_4D8AFF {
  color: #4D8AFF
}

.color_DD635F {
  color: #DD635F
}

.color_DB8A47 {
  color: #DB8A47
}

.color_4FAA29 {
  color: #4FAA29
}

.color_FA6E4D {
  color: #FA6E4D
}

.color_D2504B {
  color: #D2504B
}

.color_6A9FFF {
  color: #6A9FFF
}

.color_7980FF {
  color: #7980FF
}

.color_33446E {
  color: #33446E
}

.color_666666 {
  color: #666666
}

.color_8E8F91 {
  color: #8E8F91
}

.color_7F7F7F {
  color: #7F7F7F
}

.color_B79C76 {
  color: #B79C76
}

.color_EBC28A {
  color: #EBC28A
}

.color_66AA49 {
  color: #66AA49
}

.color_DD635F {
  color: #DD635F
}

.color_43A649 {
  color: #43A649
}

.color_DD5F5A {
  color: #DD5F5A
}

.color_424248 {
  color: #424248
}

.color_4B5055 {
  color: #4B5055
}

.color_614117 {
  color: #614117
}

.color_FF7F29 {
  color: #FF7F29
}

.color_FACB92 {
  color: #FACB92
}

.color_ff7624 {
  color: #ff7624
}

.color_FF5316 {
  color: #FF5316
}

.color_9D6639 {
  color: #9D6639
}

.color_FF9844 {
  color: #FF9844
}

.color_5E5EFF {
  color: #5E5EFF
}

.color_A87A36 {
  color: #A87A36
}

.ccc {
  color: #ccc
}

.color_6781FC {
  color: #6781FC
}

.color_B9BDFF {
  color: #B9BDFF
}

.color_45454C {
  color: #45454C
}

.color_CF8A3C {
  color: #CF8A3C
}

.color_BB892C {
  color: #BB892C
}

.color_9F781D {
  color: #9F781D
}

.color_8185CF {
  color: #8185CF
}

.color_51525D {
  color: #51525D
}

.color_E1A04F {
  color: #E1A04F
}

.color_E44444 {
  color: #E44444
}

.color_79B486 {
  color: #79B486
}

.B88748 {
  color: #B88748
}

.FBCF98 {
  color: #FBCF98
}

.D19F61 {
  color: #D19F61
}

.E85D5C {
  color: #E85D5C
}

.color_DD9B46 {
  color: #DD9B46
}

.color_FF561C {
  color: #FF561C
}

.color_4D56FF {
  color: #4D56FF
}

.color_AAAEFF {
  color: #AAAEFF
}

.color_8689C2 {
  color: #8689C2
}

.color_D0614B {
  color: #D0614B
}

.color_FFBB1C {
  color: #FFBB1C
}

.color_FF7436 {
  color: #FF7436;
}

.color_999999 {
  color: #999999
}

.color_328CFF {
  color: #328CFF
}

.color_4079FE {
  color: #4079FE
}

.color_DE4A00 {
  color: #DE4A00
}

.orange {
  color: #FB7329;
}

.green {
  color: #18B304
}

.type_level1 {
  color: #f47463
}

.type_level2 {
  color: #FFC27C
}

.type_level3 {
  color: #6584f8
}

.type_strong {
  color: #FF9180
}

.type_middle {
  color: #FFC27C
}

.type_weak {
  color: #83B2FF
}

.gold {
  color: #BE9256
}

.color_EF7133 {
  color: #EF7133
}