@import "func";

.rotate_180 {
  transform: rotate(180deg);
}

.rotate_90 {
  transform: rotate(90deg);
}

.rotate_-90 {
  transform: rotate(-90deg);
}

.rotate_270 {
  transform: rotate(270deg);
}

.icon_refresh_image {
  width: pr(32);
  height: pr(32);
}

.icon_add_image {
  width: pr(32);
  height: pr(32);
}

.icon_hold_style_image {
  width: pr(28);
  height: pr(28);
}

.icon_search_image {
  width: pr(32);
  height: pr(32);
}

.icon_favor_light_image {
  width: pr(40);
  height: pr(40);
}

.cx_star_image {
  width: pr(140);
}

.icon_bottom_7_image {
  width: pr(64);
  height: pr(32);
}

.logo_diagnose_image {
  width: pr(268);
  height: pr(224);
}

.star_fund_title_image {
  width: pr(242);
  height: pr(26)
}

.icon_diagnose_image {
  width: pr(30);
  height: pr(26);
}

.icon_recommend_image {
  width: pr(40);
  height: pr(40);
}

.close_image {
  width: pr(32);
  height: pr(32);
}

.icon_master_image {
  width: pr(32);
  height: pr(32);
}

.icon_diagnose_image {
  width: pr(32);
  height: pr(32);
}

.arrow_bottom_6_image {
  width: pr(28);
  height: pr(28);
}

.icon_correct_image {
  width: pr(78);
  height: pr(62);
}

.icon_warning_image {
  width: pr(28);
  height: pr(28);
}

.icon_add_image {
  width: pr(32);
  height: pr(32);
}

.rank_icon_image {
  width: pr(34);
  height: pr(34);
}

.arrow_image {
  width: pr(14);
  height: pr(24);
}

.icon_check_2_image {
  width: pr(32);
  height: pr(32);
}

.icon_auto_image {
  width: pr(110);
  height: pr(110);
}

.icon_date_picker_image {
  width: pr(24);
  height: pr(24);
}

.icon_star_image {
  width: pr(48);
  height: pr(48);
}

.select_order_image {
  width: pr(26);
  height: pr(26);
}

.select_arrow_image {
  width: pr(14);
  height: pr(10);
}

.arrow_rank_image {
  width: pr(24);
  height: pr(20);
}

.icon_filter_image {
  width: pr(26);
  height: pr(26);
}

.icon_check_2_image {
  width: pr(32);
  height: pr(32);
}

.arrow_right_image {
  width: pr(11);
  height: pr(20);
}

.empty_image {
  width: pr(172);
  height: pr(124);
}

.icon_table_arrow_image {
  width: pr(64);
  height: pr(32);
}

.icon_compare_up_image {
  width: pr(20);
  height: pr(20);
}

.icon_compare_down_image {
  width: pr(20);
  height: pr(20);
}

.compareC_item_image {
  width: pr(32);
  height: pr(32);
}

.guide_bill0_image {
  width: pr(351);
  height: pr(105);
  margin-top: pr(10)
}

.cancel_image {
  width: pr(26);
  height: pr(24);
}

.icon_explain_left_image {
  width: pr(24);
  height: pr(16);
  top: pr(-4);
  left: pr(8);
}

.icon_explain_right_image {
  width: pr(24);
  height: pr(16);
  bottom: pr(-4);
  right: pr(8);
}

.fund_manager_avatar_image {
  width: pr(96);
  height: pr(96);
  border-radius: 50%;
}

.fund_manager_award_icon_image {
  width: pr(24);
  height: pr(24);
  margin-right: pr(6);
}

.arrow_bottom_2_image {
  width: pr(17);
  height: pr(10);
}

.icon_arrow_right_image {
  width: pr(10);
  height: pr(16);
}

.follow_close_image {
  width: pr(24);
  height: pr(24);
}

.icon_close_2_image {
  width: pr(32);
  height: pr(32);
}

.icon_menu_image {
  width: pr(32);
  height: pr(32);
}

.icon_question_1_image {
  width: pr(32);
  height: pr(32);
}

.arrow_right5_image {
  width: pr(20);
  height: pr(20);
}

.loading_image {
  width: pr(426);
  height: pr(410);
}

.toast_close_image {
  width: pr(24);
  height: pr(24);
}

.home_icon_image {
  width: pr(62);
  height: pr(62);
}

.icon_set_image {
  width: pr(20);
  height: pr(20);
}

.icon_explain_image {
  width: pr(32);
  height: pr(32);
}

.icon_warning_2_image {
  width: pr(32);
  height: pr(32);
}

.icon_edit_image {
  width: pr(32);
  height: pr(32);
}

.icon_copy_image {
  width: pr(32);
  height: pr(32);
}

.icon_minus_2_image {
  width: pr(40);
  height: pr(40);
}

.icon_add_2_image {
  width: pr(40);
  height: pr(40);
}

.icon_option_select_image {
  width: pr(32);
  height: pr(32);
}

.arrow_right3_image {
  width: pr(8);
  height: pr(16);
}

.icon_relation_image {
  width: pr(32);
  height: pr(32);
}

.img_none {
  width: pr(440);
  height: pr(320)
}

.computing_image {
  width: pr(750);
  height: pr(750);
}

.expire_close_image {
  width: pr(16);
  height: pr(16);
}

.icon_toTop_image {
  width: pr(24);
  height: pr(28);
}

.filter_auto_icon_image {
  width: pr(104);
  height: pr(104);
}

.icon_content_image {
  width: pr(80);
  height: pr(80);
}

.arrow_top_2_image {
  width: pr(16);
  height: pr(8);
}

.icon_arrow_right_4_image {
  width: pr(32);
  height: pr(32);
}

.icon_upload_image {
  width: pr(96);
  height: pr(96);
}

.icon_sort_image {
  width: pr(20);
  height: pr(20);
}

.icon_toTop_2_image {
  width: pr(32);
  height: pr(32);
}
.pc_edit_image{
  width: pr(26);
  height: pr(26);
}
.icon_location{
  width: pr(30);
  height: pr(36);
}
.icon_phone{
  width: pr(26);
  height: pr(26);
}
.icon_yuan{
  width: pr(32);
  height: pr(32);
}
.icon_complete{
  width: pr(30);
  height: pr(36);
}
.icon_status_error{
  width: pr(200);
  height: pr(200);
}